* {
    margin: 0; 
    padding: 0; 
    font-size: 20px; 
}
body {
    display: flex; 
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.weather {
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 30vh;
    padding: 5px;
    /* outline: 3px solid aliceblue; */
}
.weather div:first-child {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;  
    width: 100vw;
    margin-top: 30px; 
}
.title h1 {
    font-size: 200%;
    height: 40vh;
}
.weather div:last-child {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    margin-top: 10px;
    width: 50vh;
    height: 100vh;
}
.search form {
    margin-top: 12px; 
}
form {
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
    width: 25vw;
}
form input:first-child {
    padding-left: 6px;
    border-radius: 5px; 
    border-style: groove;
    height: 3.5vh; 
    font-size: 90%;
}
form input:last-child {
    /* background-color: aqua; */
    border: 1px;
    border-radius: 5px; 
    border-style: groove;
    width: 6vw; 
}

.display {
    display: flex; 
    flex-direction: column; 
    width: 35vw;
    margin-top: 10px; 
    border: 5px;
    border-style: groove; 
}
.display h2 {
    text-align: center;
}
.top-display {
    display: flex; 
    justify-content: space-around;
    height: 15vh;
}
.top-display div:first-child {    
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    width: 15vw;
}
.top-display div:first-child p { 
    text-align: center;
    margin-top: 5px; 
}    
.top-display h1 {
    font-size: 120%;
}
.top-display p {
    font-size: 80%;
}
.top-display div:last-child {
    display: flex; 
    justify-content: center;
    width: 15vw;
}
.top-display div:last-child img {
    height: 100%; 
}

.bottom-display {
    display: flex; 
    justify-content: space-around;
    align-items: center; 
    height: 15vh;
}
.bottom-display div:first-child {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 15vw;
}
.bottom-display div:first-child p{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 200%;
    font-weight: 200;
    height: 12vh;
    width: 15vw;
}
.bottom-display div:last-child {
    display: flex;
    justify-content: space-around;
    width: 15vw;
    height: 12vh;
}
.bottom-display div:last-child ul:first-child {
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
}
.bottom-display div:last-child ul:last-child {
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
}
.bottom-display ul {
    list-style-type: none;
}
.bottom-display ul li {
    font-size: 80%;
}

/* @media screen and (min-width: 380px) {
    .weather {
        display: flex;
        flex-direction: column;
        width: 100vw; 
    }
    .weather div:first-child h1 {
        display: flex; 
        justify-content: center;
        font-size: 160%;
        width: 100vw;
        background-color: aliceblue;
    }
   .search {
       width: 70vw;
   }
    .search h3 {
        font-size: 80%;
    }
    form {
        display: flex; 
        justify-content: space-around;
        background-color: aliceblue;
        width: 60vw;
    }
    form input:first-child {
        width: 35vw;
        height: 3.8vh;
        font-size: 70%;
    }
    form input:last-child {
        width: 15vw;
        height: 4vh;
        font-size: 70%;
        border: 2px;
        border-radius: 5px; 
        border-style: groove; 
    }
    .display {
        width: 80vw;
    }
    .top-display div:first-child {
        width: 25vw;
    }
    .bottom-display div:first-child {
        width: 25vw;
        height: 10vh;
    }
    .bottom-display div:first-child p {
        width: 25vw;
        font-size: 120%;
    }
    .bottom-display div:last-child {
        width: 35vw;
    }
    .bottom-display div:last-child ul {
        height: 10vh;
        font-size: 80%;
    }
}
@media screen and (min-width: 780px) {
    .weather div:last-child {
        width: 50vw;
    }
    .search form {
        width: 45vw;
    }
    form input:first-child {
        width: 25vw;
    }
    form input:last-child {
        width: 10vw;
    }
    .top-display div:last-child img {
        width: 10w;
    }
    .bottom-display div:first-child p {
        width: 20vw;
        height: 12vh; 
        font-size: 160%;
    }
    .bottom-display div:last-child{
        display: flex; 
        justify-content: space-evenly; 
        width: 23vw;
        height: 12vh;
    }
} */